footer {
  height: 400px;
  width: 100vw;
  position: absolute;
  left: 0;
  background-color: #1a1d26;
  overflow-x: hidden;
  h3 {
    font-size: 2em;
    align-self: center;
  }
  .cent-pos {
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    padding: 20px;
  }
  .tag-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    grid-template-rows: auto;
    min-width: 300px;
    h4 {
      grid-column: 1/-1;
      font-size: 1.2em;
    }
    p {
      margin: 8px 0;
    }
  }
}
